.container {
}

.content {
  margin-top: 2rem;
}

.content-piece {
  padding: 1rem;
}

.selected {
  background: LightGrey;
}

.title {
  border-bottom: 1px solid LightGrey;
  padding-bottom: 1rem;
}

.title h4 {
  display: inline-block;
  margin-left: 2rem;
  color: grey;
  font-style: italic;
}

.title h2 {
  display: inline-block;
}
